<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561058666320-mm5bc21p08jcn66mmp4ss9vifv8epsng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561058666320-mm5bc21p08jcn66mmp4ss9vifv8epsng</string>
	<key>API_KEY</key>
	<string>AIzaSyAwyJA_ath-HqiTjAu9abXudbLp9x8wo_U</string>
	<key>GCM_SENDER_ID</key>
	<string>561058666320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hcm2303</string>
	<key>PROJECT_ID</key>
	<string>hcm2303</string>
	<key>STORAGE_BUCKET</key>
	<string>hcm2303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561058666320:ios:26f876564ae0085e503e55</string>
	<key>DATABASE_URL</key>
	<string>https://hcm2303-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>